<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>従業員フォーム</title>
    <!-- レイアウトを確認するためのスタイル　（不要になったらコメントアウト）
    <style> * { outline: 1px solid #f00; }</style> -->
</head>
<body>
    <!-- ヘッダー -->
    <header class="py-4">
    <div class="container text-center">
        <h1><a class="link-dark link-offset-2 link-underline link-underline-opacity-0" th:href="@{/}" th:text="CostdataApplication"></a></h1>
    </div>
    </header>
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark d-print sticky-top">
        <!-- サブコンポーネント -->
        <div class="container">
            <!-- 切り替えボタン -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- ブランド -->
            <a class="navbar-brand" th:href="@{/}" th:text="CostdataApplication"></a>
        　　　<!-- ナビゲーション -->
            <div class="collapse navbar-collapse" id="navbar-content">
                <!-- ナビゲーションメニュー -->
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/construction-contract/before}" th:text="ホーム"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/employee/list}" th:text="従業員一覧"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/design-contract/list}" th:text="設計契約一覧"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/construction-contract/list}" th:text="工事契約一覧"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/advanced-search/search}" th:text="詳細検索"></a>
                    </li>
                </ul>
                <!-- ログアウト -->
                <ul class="navbar-nav">
                    <li class="nav-item text-center">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="ログアウト" class="btn btn-info text-dark">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- メイン -->
    <main class="py-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- タイトル：新規登録 or 更新処理 -->
                    <h2 th:if="${employeeForm.isNew}" class="h2 text-center mb-5">従業員新規登録</h2>
                    <h2 th:unless="${employeeForm.isNew}" class="h2 text-center mb-5">従業員更新処理</h2>
                </div>
            </div>
            <!-- フォーム -->
            <!-- アクション：新規登録 or 更新処理 -->
            <form th:action="${employeeForm.isNew} ? @{/employee/add} : @{/employee/{code}/revice(code=${employeeForm.code})}"
                        th:object="${employeeForm}" method="post">
                <div class="row">
                    <div class="col"></div> <!-- 中心揃え用 -->
                    <div class="col-sm-10 col-md-8 col-lg-6">
                        <div class="card　mb-5">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="code" class="form-label">従業員コード</label>
                                    <!-- 新規登録時のcodeはtextで入力欄を表示する -->
                                    <div th:if="${employeeForm.isNew}">
                                        <input type="text" th:field="*{code}" id="code" class="form-control">
                                        <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="text-danger"></span>
                                        <span th:if="${codeError} neq null" th:text="${codeError}" class="text-danger"></span>
                                    </div>
                                    <!-- 更新処理時のcodeはhiddenで仕込み、文字はth:textで表示する -->
                                    <div th:unless="${employeeForm.isNew}">
                                        <input type="hidden" th:text="*{code}" th:field="*{code}" id="code">
                                    </div>
                                </div>
                                <!-- 以下は、code以外のinput -->
                                <div class="mb-3">
                                    <label for="lastName" class="form-label">名字</label>
                                    <div>
                                        <input type="text" th:field="*{lastName}" id="lastName" class="form-control">
                                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="firstName" class="form-label">名前</label>
                                    <div>
                                        <input type="text" th:field="*{firstName}" id="firstName" class="form-control">
                                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">パスワード</label>
                                    <div th:unless="${employeeForm.isNew}">※変更する場合のみ入力</div>
                                    <div>
                                        <input type="password" th:field="*{password}" id="password" class="form-control">
                                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                                        <span th:if="${passwordError} neq null" th:text="${passwordError}" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="role" class="form-label">権限</label>
                                    <div>
                                        <select th:field="*{role}" id="role" class="form-select">
                                            <!-- デフォルトをnullに設定して、バリデーション@NotNullでチェック -->
                                            <option th:value="null"></option>
                                            <!-- 有効な値が入ったセレクトボックス -->
                                            <option th:each="item:${T(com.example.demo.entity.Role).values()}" th:value="${item}" th:text="${item.getValue()}" th:selected="*{role} == ${item}">
                                        </select>
                                        <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="text-danger"></span>
                                    </div>
                                </div>
                                <p>
                                    <!-- ボタン：新規登録 or 更新処理 -->
                                    <input th:if="${employeeForm.isNew}" type="submit" value="登録" class="btn btn-primary">
                                    <input th:unless="${employeeForm.isNew}" type="submit" value="更新" class="btn btn-primary">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div> <!-- 中心揃え用 -->
                </div>
            </form>
            <div class="row mt-3">
                <div class="col"></div> <!-- 中心揃え用 -->
                <div class="col-auto">
                    <a th:href="@{/}" class="btn btn-primary">ホーム</a>
                </div>
                <div class="col-auto">
                    <a th:href="@{/employee/list}" class="btn btn-primary">戻る</a>
                </div>
                <div class="col"></div> <!-- 中心揃え用 -->
            </div>
        </div>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>