<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>従業員一覧</title>
</head>
<body>
    <!-- ヘッダー -->
    <header class="py-4">
    <div class="container text-center">
        <h1><a class="link-dark link-offset-2 link-underline link-underline-opacity-0" th:href="@{/construction-contract/list}" th:text="CostdataApplication"></a></h1>
    </div>
    </header>
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark d-print sticky-top">
        <!-- サブコンポーネント -->
        <div class="container">
            <!-- 切り替えボタン -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- ブランド -->
            <a class="navbar-brand" th:href="@{/construction-contract/list}" th:text="CostdataApplication"></a>
        　　　<!-- ナビゲーション -->
            <div class="collapse navbar-collapse" id="navbar-content">
                <!-- ナビゲーションメニュー -->
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/employee/list}" th:text="従業員">現在位置</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/design-contract/list}" th:text="設計契約"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/construction-contract/list}" th:text="工事契約"></a>
                    </li>
                </ul>
                <!-- ログアウト -->
                <ul class="navbar-nav">
                    <li class="nav-item text-center">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="ログアウト" class="btn btn-info text-dark">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- メイン -->
    <main>
        <h2>従業員一覧</h2>
        <!-- Flashメッセージの表示 -->
        <p th:if="${message}" th:text="${message}" style="color: blue;">
            完了メッセージ
        </p>
        <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;">
            エラーメッセージ
        </p>
        <table border="1">
            <thead>
                <tr>
                    <th>社員番号</th>
                    <th>名前</th>
                    <th>詳細</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employee}">
                    <td th:text="${employee.code}"></td>
                    <td th:text="${employee.lastName} + ' ' + ${employee.firstName}"></td>
                    <td><a th:href="@{/employee/{code}/detail(code=${employee.code})}">詳細</a></td>
                </tr>
            </tbody>
        </table>
        <h3>画面遷移表示</h3>
        <a th:href="@{/employee/create}">新規登録</a>
        <a th:href="@{/}">ホームへ戻る</a>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>