<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Thymeleaf Sample</title>
</head>
<body>
    <!-- 01：直接文字を埋め込む -->
    <h1 class="text-center sticky-top" th:text="'hello world'">表示する部分</h1>
    <!-- 02：インライン処理 -->
    <h1>こんにちは！[[${name}]]さん</h1>
    <!-- 03：値結合 -->
    <h1 th:text="'明日は、' + '晴れ' + 'です。'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <!-- 01：直接文字を埋め込む -->
    <h1 th:text="'hello world'">表示する部分</h1>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>