<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>工事契約フォーム</title>
    <!-- レイアウトを確認するためのスタイル　（不要になったらコメントアウト）
    <style> * { outline: 1px solid #f00; }</style> -->
</head>
<body>
    <!-- ヘッダー -->
    <header class="py-4">
    <div class="container text-center">
        <h1><a class="link-dark link-offset-2 link-underline link-underline-opacity-0" th:href="@{/}" th:text="CostdataApplication"></a></h1>
    </div>
    </header>
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark d-print sticky-top">
        <!-- サブコンポーネント -->
        <div class="container">
            <!-- 切り替えボタン -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- ブランド -->
            <a class="navbar-brand" th:href="@{/}" th:text="CostdataApplication"></a>
        　　　<!-- ナビゲーション -->
            <div class="collapse navbar-collapse" id="navbar-content">
                <!-- ナビゲーションメニュー -->
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/construction-contract/before}" th:text="ホーム"></a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/employee/list}" th:text="従業員一覧"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/design-contract/list}" th:text="設計契約一覧"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/construction-contract/list}" th:text="工事契約一覧"></a>
                    </li>
                </ul>
                <!-- ログアウト -->
                <ul class="navbar-nav">
                    <li class="nav-item text-center">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="ログアウト" class="btn btn-info text-dark">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- メイン -->
    <main class="py-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- タイトル：新規登録 or 更新処理 -->
                    <h2 th:if="${constructionContractForm.isNew}" class="h2 text-center mb-5">工事契約新規登録</h2>
                    <h2 th:unless="${constructionContractForm.isNew}" class="h2 text-center mb-5">工事契約更新処理</h2>
                </div>
            </div>
            <!-- フォーム -->
            <!-- アクション：新規登録 or 更新処理 -->
            <form th:action="${constructionContractForm.isNew} ? @{/construction-contract/add} : @{/construction-contract/{id}/revice(id=${constructionContractForm.ccId})}"
                th:object="${constructionContractForm}" method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <!-- 新規登録時のidはAUTO_INCREMENTによる自動採番のため仕込み不要 -->
                                    <!-- 更新処理時のidはhiddenで仕込み、文字はth:textでも表示しない(th:text文を削除) -->
                                    <div th:unless="${constructionContractForm.isNew}">
                                        <input type="hidden" th:field="*{ccId}" id="ccId">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="ccDcId" class="form-label">設計契約</label>
                                    <!-- 新規登録・更新処理時の設計契約のidはhiddenで仕込み、文字はth:textでも表示しない(th:text文を削除) -->
                                    <!-- 新規登録・更新処理時の設計契約のcontracttNameはhiddenで仕込み、文字はth:textで表示する -->
                                    <div>
                                        <input type="hidden" th:field="*{ccDcId}" id="ccDcId">
                                        <input type="hidden" th:text="*{designContract.contractName}" th:field="*{designContract.contractName}" id="designContract.contractName">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="ccEtId" class="form-label">内訳種別区分</label>
                                    <!-- 新規登録時の内訳種別区分びidはセレクトボックスで選択して仕込み（nullチェック有り） -->
                                    <div th:if="${constructionContractForm.isNew}">
                                        <select th:field="*{ccEtId}" id="ccEtId" class="form-select">
                                            <!-- デフォルトをnullに設定して、バリデーション@NotNullでチェック -->
                                            <option th:value="null"></option>
                                            <!-- 有効な値が入ったセレクトボックス -->
                                            <option th:each="item : ${estimateTypeMap}" th:value="${item.value}" th:text="${item.key}"></option>
                                        </select>
                                        <span th:if="${#fields.hasErrors('ccEtId')}" th:errors="*{ccEtId}" class="text-danger"></span>
                                    </div>
                                    <!-- 更新処理時の内訳種別区分のidはセレクトボックスで選択して仕込みみ（nullチェック無し） -->
                                    <div th:unless="${constructionContractForm.isNew}">
                                        <select th:field="*{ccEtId}" id="ccEtId" class="form-select">
                                            <!-- 有効な値が入ったセレクトボックス -->
                                            <option th:each="item : ${estimateTypeMap}" th:value="${item.value}" th:text="${item.key}"></option>
                                        </select>
                                    </div>
                                </div>
                                <!-- 以下は、上記以外のinput -->
                                <div class="mb-3">
                                    <label for="contractCondition" class="form-label">工事契約状態</label>
                                    <div>※工事発注前の場合は、発注予定時期を、次の積算時期（年）（月）に記入してください。</div>
                                    <div>※工事発注後の場合は、次の積算時期（年）（月）を正しい情報に更新してください。</div>
                                    <div>※工事発注中止の場合は、積算時期（年）（月）を正しい情報に更新し、中止となった経緯を経緯等コメントに入力してください。</div>
                                    <div>
                                        <select th:field="*{contractCondition}" id="contractCondition" class="form-select">
                                            <!-- デフォルトをnullに設定して、バリデーション@NotNullでチェック -->
                                            <option th:value="null"></option>
                                            <!-- 有効な値が入ったセレクトボックス -->
                                            <option th:each="item:${T(com.example.demo.entity.ContractCondition).values()}" th:value="${item}" th:text="${item.getValue()}" th:selected="*{contractCondition} == ${item}">
                                        </select>
                                        <span th:if="${#fields.hasErrors('contractCondition')}" th:errors="*{contractCondition}" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="estimateYear" class="form-label">積算時期（年）</label>
                                    <div>※西暦で「2000年」のように末尾に「年」を記入して入力してください。</div>
                                    <div>
                                        <input type="text" th:field="*{estimateYear}" id="estimateYear" class="form-control">
                                        <span th:if="${#fields.hasErrors('estimateYear')}" th:errors="*{estimateYear}" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="estimateMonth" class="form-label">積算時期（月）</label>
                                    <div>※「01月」「12月」のように二桁の数字と末尾に「月」を記入して入力してください。</div>
                                    <div>
                                        <input type="text" th:field="*{estimateMonth}" id="estimateMonth" class="form-control">
                                        <span th:if="${#fields.hasErrors('estimateMonth')}" th:errors="*{estimateMonth}" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="constructionPeriod" class="form-label">発注工期</label>
                                    <div>※「1期」のように末尾に「期」を記入して入力してください。</div>
                                    <div>※同じ期でも分離発注の様に発注区分が判れている場合は「1期-1」の様に枝番を入力してください。</div>
                                    <div>
                                        <input type="text" th:field="*{constructionPeriod}" id="constructionPeriod" class="form-control">
                                        <span th:if="${#fields.hasErrors('constructionPeriod')}" th:errors="*{constructionPeriod}" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="projectName" class="form-label">工事名称</label>
                                    <div>
                                        <input type="text" th:field="*{projectName}" id="projectName" class="form-control">
                                        <span th:if="${#fields.hasErrors('projectName')}" th:errors="*{projectName}" class="text-danger"></span>
                                    </div>
                                </div>

                           </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">

                                <div class="mb-3">
                                    <label for="siteAddress" class="form-label">工事場所</label>
                                    <div>
                                        <input type="text" th:field="*{siteAddress}" id="siteAddress" class="form-control">
                                        <span th:if="${#fields.hasErrors('siteAddress')}" th:errors="*{siteAddress}" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="siteArea" class="form-label">敷地面積（㎡）</label>
                                    <div>※㎡単位で小数第二位まで入力してください。</div>
                                    <div>
                                        <input type="text" th:field="*{siteArea}" id="siteArea" class="form-control">
                                        <span th:if="${#fields.hasErrors('siteArea')}" th:errors="*{siteArea}" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="plannedPrice" class="form-label">予定価格（円）</label>
                                    <div>※不明の場合は「0」を入力し、経緯等コメント欄にその理由を入力してください。</div>
                                    <div>
                                        <input type="text" th:field="*{plannedPrice}" id="plannedPrice" class="form-control">
                                        <span th:if="${#fields.hasErrors('plannedPrice')}" th:errors="*{plannedPrice}" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="contractPrice" class="form-label">落札価格（円）</label>
                                    <div>※不明の場合は「0」を入力し、経緯等コメント欄にその理由を入力してください。</div>
                                    <div>
                                        <input type="text" th:field="*{contractPrice}" id="contractPrice" class="form-control">
                                        <span th:if="${#fields.hasErrors('contractPrice')}" th:errors="*{contractPrice}" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="contractorName" class="form-label">施工業者</label>
                                    <div>※不明の場合は「不明」を入力し、経緯等コメント欄にその理由を入力してください。</div>
                                    <div>
                                        <input type="text" th:field="*{contractorName}" id="contractorName" class="form-control">
                                        <span th:if="${#fields.hasErrors('contractorName')}" th:errors="*{contractorName}" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="blueprintAddress" class="form-label">発注図（抜粋）</label>
                                    <div>※楽々CDM等の保存先が決まったら、そのURLをリンク先として残してください。</div>
                                    <div>※未定の場合は「決まり次第更新」など記録を残してください。</div>
                                    <div>
                                        <input type="text" th:field="*{blueprintAddress}" id="blueprintAddress" class="form-control">
                                        <span th:if="${#fields.hasErrors('blueprintAddress')}" th:errors="*{blueprintAddress}" class="text-danger"></span>
                                    </div>
                                </div>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="separeteConstruction" class="form-label">別途工事</label>
                                    <div>※建築のみの発注区分で設備が分離発注の場合は「電気設備、機械設備、昇降機設備」のように別途工事を入力してください。</div>
                                    <div>※特になければ「特に無し」などと記録に残してください。</div>
                                    <div>
                                        <input type="text" th:field="*{separeteConstruction}" id="separeteConstruction" class="form-control">
                                        <span th:if="${#fields.hasErrors('separeteConstruction')}" th:errors="*{separeteConstruction}" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="remarksSection" class="form-label">経緯等コメント</label>
                                    <div>※「1回目入札不調。○○円増額の上再公告。2回目で落札。」など金額には表れない経緯を残してください。</div>
                                    <div>※特になければ「特に無し」などと記録に残してください。</div>
                                    <div>
                                        <textarea style="height: 300px" th:field="*{remarksSection}" id="remarksSection" class="form-control"></textarea>
                                        <!-- <input type="text" th:field="*{remarksSection}" id="remarksSection" class="form-control"> -->
                                        <span th:if="${#fields.hasErrors('remarksSection')}" th:errors="*{remarksSection}" class="text-danger"></span>
                                    </div>
                                </div>
                                <p class="mt-5">
                                    <!-- ボタン：新規登録 or 更新処理 -->
                                    <input th:if="${constructionContractForm.isNew}" type="submit" value="登録" class="btn btn-primary">
                                    <input th:unless="${constructionContractForm.isNew}" type="submit" value="更新" class="btn btn-primary">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="mb-5"></div> <!-- ボタンとのクリアランス -->
            <div class="row">
                <div class="col"></div> <!-- 中心揃え用 -->
                <div class="col-auto">
                    <a th:href="@{/}" class="btn btn-primary">ホーム</a>
                </div>
                <div class="col-auto">
                    <a th:href="@{/construction-contract/list}" class="btn btn-primary">戻る</a>
                </div>
                <div class="col"></div> <!-- 中心揃え用 -->
            </div>
        </div>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>