<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>工事契約一覧</title>
    <!-- レイアウトを確認するためのスタイル　（不要になったらコメントアウト）
    <style> * { outline: 1px solid #f00; }</style> -->
</head>
<body>
    <!-- ヘッダー -->
    <header class="py-4">
    <div class="container text-center">
        <h1><a class="link-dark link-offset-2 link-underline link-underline-opacity-0" th:href="@{/}" th:text="CostdataApplication"></a></h1>
    </div>
    </header>
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark d-print sticky-top">
        <!-- サブコンポーネント -->
        <div class="container">
            <!-- 切り替えボタン -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- ブランド -->
            <a class="navbar-brand" th:href="@{/}" th:text="CostdataApplication"></a>
        　　　<!-- ナビゲーション -->
            <div class="collapse navbar-collapse" id="navbar-content">
                <!-- ナビゲーションメニュー -->
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/construction-contract/before}" th:text="ホーム"></a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/employee/list}" th:text="従業員一覧"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/design-contract/list}" th:text="設計契約一覧"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/construction-contract/list}" th:text="工事契約一覧">現在位置</a>
                    </li>
                </ul>
                <!-- 検索 -->
                <ul class="navbar-nav me-auto">
                    <li class="nav-item text-center">
                        <form th:action="@{/construction-contract/search}" method="post" th:object="${simpleSearchForm}" class="d-flex">
                                <input type="search" th:field="*{keyword}" id="keyword" placeholder="左から３列の中で検索" class="form-control">
                                <button type="submit" class="btn btn-secondary text-nowrap">検索</button>
                        </form>
                    </li>
                </ul>
                <!-- 検索ボタンととログアウトボタンの上下クリアランス -->
                <ul class="navbar-nav">
                    <li class="nav-item mb-3">
                    </li>
                </ul>
                <!-- ログアウト -->
                <ul class="navbar-nav">
                    <li class="nav-item text-center">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="ログアウト" class="btn btn-info text-dark">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- メイン -->
    <main class="py-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="h2 text-center mb-5">工事契約一覧</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- Flashメッセージの表示 -->
                    <p th:if="${message}" th:text="${message}" class="text-primary">
                        完了メッセージ
                    </p>
                    <p th:if="${errorMessage}" th:text="${errorMessage}" class="text-danger">
                        エラーメッセージ
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-striped table-hover">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" style="width: 10%">業務番号</th>
                                <th scope="col" style="width: 10%">発注工期</th>
                                <th scope="col" style="width: 60%">工事名称</th>
                                <th scope="col" style="width: 10%">内訳</th>
                                <th scope="col" style="width: 10%">詳細</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="constructionContract : ${constructionContract}">
                                <td><a th:href="@{/design-contract/{id}/detail(id=${constructionContract.designContract.dcId})}" th:text="${constructionContract.designContract.contractNumber}"></a></td>
                                <td th:text="${constructionContract.constructionPeriod}"></td>
                                <td th:text="${constructionContract.projectName}"></td>
                                <td><a th:href="@{/breakdown-co/{id}/specify(id=${constructionContract.ccId})}">頭紙</a></td>
                                <td><a th:href="@{/construction-contract/{id}/detail(id=${constructionContract.ccId})}">詳細</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-3" th:text="'（ 全' + ${listSize} + '件 ）'">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div sec:authorize="hasAuthority('EDITOR')" class="alert alert-info">
                        工事契約を新規登録する場合は、設計契約がなければ設計契約を新規登録した後、「設計契約一覧→工事契約一覧」と進んだところにある「登録」より実行してください。
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"></div> <!-- 中心揃え用 -->
                <div class="col-auto">
                    <a th:href="@{/}" class="btn btn-primary">ホーム</a>
                </div>
                <div class="col"></div> <!-- 中心揃え用 -->
            </div>
       </div>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>