<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>内訳情報フォーム</title>
    <!-- レイアウトを確認するためのスタイル　（不要になったらコメントアウト）
    <style> * { outline: 1px solid #f00; }</style> -->
</head>
<body>
    <!-- ヘッダー -->
    <header class="py-4">
    <div class="container text-center">
        <h1><a class="link-dark link-offset-2 link-underline link-underline-opacity-0" th:href="@{/construction-contract/list}" th:text="CostdataApplication"></a></h1>
    </div>
    </header>
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark d-print sticky-top">
        <!-- サブコンポーネント -->
        <div class="container">
            <!-- 切り替えボタン -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- ブランド -->
            <a class="navbar-brand" th:href="@{/construction-contract/list}" th:text="CostdataApplication"></a>
        　　　<!-- ナビゲーション -->
            <div class="collapse navbar-collapse" id="navbar-content">
                <!-- ナビゲーションメニュー -->
                <ul class="navbar-nav me-auto">
                    <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/employee/list}" th:text="従業員一覧"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/design-contract/list}" th:text="設計契約一覧"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/construction-contract/list}" th:text="工事契約一覧（ホーム）"></a>
                    </li>
                </ul>
                <!-- ログアウト -->
                <ul class="navbar-nav">
                    <li class="nav-item text-center">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="ログアウト" class="btn btn-info text-dark">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- メイン -->
    <main>
        <!-- タイトル：新規登録 or 更新処理 -->
        <h2 th:if="${informationDbForm.isNew}">内訳情報新規登録</h2>
        <h2 th:unless="${informationDbForm.isNew}">内訳情報更新処理</h2>

        <!-- アクション：新規登録 or 更新処理 -->
        <form th:action="${informationDbForm.isNew} ? @{/information-db/add} : @{/information-db/{id1}/{id2}/revice(id1=${informationDbForm.idbBcdId}, id2=${informationDbForm.idbIiId})}"
            th:object="${informationDbForm}" method="post">

                <label>工事契約</label>
                <!-- 新規登録・更新処理時の工事契約のprojectNameはhiddenで仕込み、文字はth:textで表示する -->
                <div>
                    <input type="hidden" th:text="*{constructionContract.projectName}" th:field="*{constructionContract.projectName}" id="constructionContract.projectName">
                </div>

                <label>内訳頭紙区分</label>
                <!-- 新規登録・更新処理時の内訳頭紙区分のcoTypeNameはhiddenで仕込み、文字はth:textで表示する -->
                <div>
                    <input type="hidden" th:text="*{categoryOutline.coTypeName}" th:field="*{categoryOutline.coTypeName}" id="categoryOutline.coTypeName">
                </div>

                <label>内訳種目区分</label>
                <!-- 新規登録・更新処理時の内訳頭紙区分のcdTypeNameはhiddenで仕込み、文字はth:textで表示する -->
                <div>
                    <input type="hidden" th:text="*{categoryDetail.cdTypeName}" th:field="*{categoryDetail.cdTypeName}" id="categoryDetail.cdTypeName">
                </div>

                <label for="idbBcdId">内訳種目</label>
                <!-- 新規登録・更新処理時の内訳種目のidはhiddenで仕込み、文字はth:textでも表示しない(th:text文を削除) -->
                <!-- 新規登録・更新処理時の内訳種目のbcdTypeNameはhiddenで仕込み、文字はth:textで表示する -->
                <div>
                    <input type="hidden" th:field="*{idbBcdId}" id="idbBcdId">
                    <input type="hidden" th:text="*{breakdownCd.bcdTypeName}" th:field="*{breakdownCd.bcdTypeName}" id="breakdownCd.bcdTypeName">
                </div>

                <label for="idbIiId">内訳情報区分</label>
                <!-- 新規登録時の内訳情報区分びidはセレクトボックスで選択して仕込み -->
                <div th:if="${informationDbForm.isNew}">
                    <select th:field="*{idbIiId}" id="idbIiId">
                        <!-- デフォルトをnullに設定して、バリデーション@NotNullでチェック -->
                        <option th:value="null"></option>
                        <!-- 有効な値が入ったセレクトボックス -->
                        <option th:each="item : ${informationItemlMap}" th:value="${item.value}" th:text="${item.key}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('idbIiId')}" th:errors="*{idbIiId}" class="text-danger"></span>
                    <span th:if="${idbIiIdError} neq null" th:text="${idbIiIdError}" class="text-danger"></span>
                </div>
                <!-- 更新処理時の内訳情報区分のidはhiddenで仕込み、文字はth:textでも表示しない(th:text文を削除) -->
                <!-- 更新処理時の内訳情報区分のiiItemNameはhiddenで仕込み、文字はth:textで表示する -->
                <div th:unless="${informationDbForm.isNew}">
                    <input type="hidden" th:field="*{idbIiId}" id="idbIiId">
                    <input type="hidden" th:text="*{informationItem.iiItemName}" th:field="*{informationItem.iiItemName}" id="informationItem.iiItemName">
                </div>

                <!-- 以下は、上記以外のinput -->

                <label for="idbDataText">文字情報</label>
                <div>
                    <input type="text" th:field="*{idbDataText}" id="idbDataText">
                    <span th:if="${#fields.hasErrors('idbDataText')}" th:errors="*{idbDataText}" class="text-danger"></span>
                </div>

                <label for="idbDataDouble">数量情報</label>
                <div>
                    <input type="text" th:field="*{idbDataDouble}" id="idbDataDouble">
                    <span th:if="${#fields.hasErrors('idbDataDouble')}" th:errors="*{idbDataDouble}" class="text-danger"></span>
                </div>

                <label for="idbDataBigint">金額情報</label>
                <div>
                    <input type="text" th:field="*{idbDataBigint}" id="idbDataBigint">
                    <span th:if="${#fields.hasErrors('idbDataBigint')}" th:errors="*{idbDataBigint}" class="text-danger"></span>
                </div>

            <!-- ボタン：新規登録 or 更新処理 -->
            <input th:if="${informationDbForm.isNew}" type="submit" value="登録">
            <input th:unless="${informationDbForm.isNew}" type="submit" value="更新">
        </form>
        <h3>画面遷移表示</h3>
        <a th:href="@{/}">ホームへ戻る</a>
        <a th:href="@{/information-db/{id}/specify(id=${informationDbForm.idbBcdId})}">内訳情報一覧へ戻る</a>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>