<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>詳細検索</title>
    <!-- レイアウトを確認するためのスタイル　（不要になったらコメントアウト）
    <style> * { outline: 1px solid #f00; }</style> -->
</head>
<body>
    <!-- ヘッダー -->
    <header class="py-4">
    <div class="container text-center">
        <h1><a class="link-dark link-offset-2 link-underline link-underline-opacity-0" th:href="@{/}" th:text="CostdataApplication"></a></h1>
    </div>
    </header>
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark d-print sticky-top">
        <!-- サブコンポーネント -->
        <div class="container">
            <!-- 切り替えボタン -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- ブランド -->
            <a class="navbar-brand" th:href="@{/}" th:text="CostdataApplication"></a>
        　　　<!-- ナビゲーション -->
            <div class="collapse navbar-collapse" id="navbar-content">
                <!-- ナビゲーションメニュー -->
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/construction-contract/before}" th:text="ホーム"></a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/employee/list}" th:text="従業員一覧"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/design-contract/list}" th:text="設計契約一覧"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/construction-contract/list}" th:text="工事契約一覧"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/advanced-search/search}" th:text="詳細検索">>現在位置</a>
                    </li>
                </ul>
                <!-- ログアウト -->
                <ul class="navbar-nav">
                    <li class="nav-item text-center">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="ログアウト" class="btn btn-info text-dark">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="py-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="h2 text-center mb-5">詳細検索</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <!-- 工事契約検索用フォーム（GETメソッドで実装　※POSTメソッドでは戻る時にフォームの再送を求められる） -->
                            <form th:action="@{/advanced-search/result-of-cc}" th:object="${advancedSearchFormOfCc}" method="get">
                                <h3 class="h3 text-center mb-5">工事契約一覧より絞り込み</h3>
                                <div class="mb-3">
                                    <label for="ccEtId" class="form-label">内訳種別区分</label>
                                    <select th:field="*{ccEtId}" id="ccEtId" class="form-select">
                                        <!-- デフォルトをnullに設定 -->
                                        <option th:value="null"></option>
                                        <!-- 有効な値が入ったセレクトボックス -->
                                        <option th:each="item : ${estimateTypeMap}" th:value="${item.value}" th:text="${item.key}"></option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="contractCondition" class="form-label">工事契約状態</label>
                                    <div>
                                        <select th:field="*{contractCondition}" id="contractCondition" class="form-select">
                                            <!-- デフォルトをnullに設定 -->
                                            <option th:value="null"></option>
                                            <!-- 有効な値が入ったセレクトボックス -->
                                            <option th:each="item:${T(com.example.demo.entity.ContractCondition).values()}" th:value="${item}" th:text="${item.getValue()}" th:selected="*{contractCondition} == ${item}">
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="estimateYear" class="form-label">積算時期（年）</label>
                                    <div>※西暦で「2000年」のように末尾に「年」を記入して入力してください。</div>
                                    <div>
                                        <input type="text" th:field="*{estimateYear}" id="estimateYear" class="form-control">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="siteAddress" class="form-label">工事場所</label>
                                    <div>
                                        <input type="text" th:field="*{siteAddress}" id="siteAddress" class="form-control">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="contractorName" class="form-label">施工業者</label>
                                    <div>
                                        <input type="text" th:field="*{contractorName}" id="contractorName" class="form-control">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-secondary text-nowrap">検索</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <!-- 内訳種目検索用フォーム（GETメソッドで実装　※POSTメソッドでは戻る時にフォームの再送を求められる） -->
                            <form th:action="@{/advanced-search/result-of-bcd}" th:object="${advancedSearchFormOfBcd}" method="get">
                                <h3 class="h3 text-center mb-5">内訳種目一覧より絞り込み</h3>
                                <div class="mb-3">
                                    <label for="bcdCdId" class="form-label">内訳種目区分</label>
                                    <div>
                                        <select th:field="*{bcdCdId}" id="bcdCdId" class="form-select">
                                            <!-- デフォルトをnullに設定 -->
                                            <option th:value="null"></option>
                                            <!-- 有効な値が入ったセレクトボックス -->
                                            <option th:each="item : ${categoryDetailMap}" th:value="${item.value}" th:text="${item.key}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="bcdPoId" class="form-label">用途概略区分</label>
                                    <div>※こちらは検索対象にはなりません。検索対象は下記の用途詳細区分ですので、そちらを選択してください。</div>
                                    <div>
                                        <select th:field="*{bcdPoId}" id="bcdPoId" class="form-select">
                                            <!-- デフォルトをnullに設定 -->
                                            <option th:value="null"></option>
                                            <!-- 有効な値が入ったセレクトボックス -->
                                            <option th:each="item : ${purposeOutlineMap}" th:value="${item.value}" th:text="${item.key}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <!-- ★Ajax通信による選択肢の更新） -->
                                    <label for="bcdPdId" class="form-label">用途詳細区分</label>
                                    <div>※上記の用途概略区分を選択すると、用途詳細区分の選択肢が表示されます。</div>
                                    <div class="text-danger">※表示されない場合は、再度上記の用途概略区分で別項目を選択し、改めて選択し直してください。</div>
                                    <div>
                                        <select th:field="*{bcdPdId}" id="bcdPdId" class="form-select">
                                            <!-- デフォルトをnullに設定 -->
                                            <option th:value="null"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="bcdTypeName" class="form-label">種目名称（≒棟名）</label>
                                    <div>
                                        <input type="text" th:field="*{bcdTypeName}" id="bcdTypeName" class="form-control">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-secondary text-nowrap">検索</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <!-- 内訳情報検索用フォーム（GETメソッドで実装　※POSTメソッドでは戻る時にフォームの再送を求められる） -->
                            <form th:action="@{/advanced-search/result-of-idb}" th:object="${advancedSearchFormOfIdb}" method="get">
                                <h3 class="h3 text-center mb-5">内訳情報一覧より絞り込み</h3>
                                <div class="mb-3">
                                    <label for="idbIiId" class="form-label">内訳情報区分</label>
                                    <div>
                                        <select th:field="*{idbIiId}" id="idbIiId" class="form-select">
                                            <!-- デフォルトをnullに設定 -->
                                            <option th:value="null"></option>
                                            <!-- 有効な値が入ったセレクトボックス -->
                                            <option th:each="item : ${informationItemlMap}" th:value="${item.value}" th:text="${item.key}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="idbDataText" class="form-label">文字情報</label>
                                    <div>
                                        <input type="text" th:field="*{idbDataText}" id="idbDataText" class="form-control">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="upperIdbDataDouble" class="form-label">数量情報（上限）</label>
                                    <div>
                                        <input type="text" th:field="*{upperIdbDataDouble}" id="upperIdbDataDouble" class="form-control">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="lowerIdbDataDouble" class="form-label">数量情報（下限）</label>
                                    <div>
                                        <input type="text" th:field="*{lowerIdbDataDouble}" id="lowerIdbDataDouble" class="form-control">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-secondary text-nowrap">検索</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col"></div> <!-- 中心揃え用 -->
                <div class="col-auto">
                    <a th:href="@{/}" class="btn btn-primary">ホーム</a>
                </div>
                <div class="col"></div> <!-- 中心揃え用 -->
            </div>
       </div>
    </main>
    <script th:inline="javascript">
        var purposeSelect = document.getElementById('bcdPoId');
        var specificPurposeSelect = document.getElementById('bcdPdId');

        purposeSelect.addEventListener('change', function(){
            var selectedPoId = purposeSelect.value;
            specificPurposeSelect.innerHTML = ''; // 一旦選択肢をクリア

            // Ajaxで用途詳細区分のデータを取得
            fetch('/breakdown-cd/' + selectedPoId + '/getPurposeDetailMap')
            .then(response => response.json())
            .then(data => {
                for (var key in data) {
                    var option = document.createElement('option');
                    option.value = data[key];
                    option.text = key;
                    specificPurposeSelect.appendChild(option);
                }
            });
        });
    </script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>