<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.example.demo.repository.ConstructionContractMapper">
    <!-- マッピング（SELECT文用resultMap） -->
    <resultMap id="constructionContractResult" type="com.example.demo.entity.ConstructionContract">
        <id column="cc_id" property="ccId" />
        <result column="cc_dc_id" property="ccDcId" />
        <result column="cc_et_id" property="ccEtId" />
        <result column="estimate_year" property="estimateYear" />
        <result column="estimate_month" property="estimateMonth" />
        <result column="construction_period" property="constructionPeriod" />
        <result column="project_name" property="projectName" />
        <result column="site_address" property="siteAddress" />
        <result column="site_area" property="siteArea" />
        <result column="separete_construction" property="separeteConstruction" />
        <result column="planned_price" property="plannedPrice" />
        <result column="contract_price" property="contractPrice" />
        <result column="turnover_rate" property="turnoverRate" />
        <result column="contractor_name" property="contractorName" />
        <result column="remarks_section" property="remarksSection" />
        <result column="blueprint_address" property="blueprintAddress" />
        <result column="cc_created_at" property="ccCreatedAt" />
        <result column="cc_updated_at" property="ccUpdatedAt" />
        <result column="cc_latest_editor" property="ccLatestEditor" />
        <result column="cc_delete_flg" property="ccDeleteFlg" />
        <association property="employee" javaType="com.example.demo.entity.Employee">
            <id column="code" property="code" />
            <result column="first_name" property="firstName" />
            <result column="last_name" property="lastName" />
            <result column="password" property="password" />
            <result column="role" property="role" />
            <result column="created_at" property="createdAt" />
            <result column="updated_at" property="updatedAt" />
            <result column="delete_flg" property="deleteFlg" />
        </association>
        <association property="estimateType" javaType="com.example.demo.entity.EstimateType">
            <id column="et_id" property="etId" />
            <result column="et_type_name" property="etTypeName" />
        </association>
        <association property="designContract" javaType="com.example.demo.entity.DesignContract">
            <id column="dc_id" property="dcId" />
            <result column="contract_number" property="contractNumber" />
            <result column="contract_name" property="contractName" />
            <result column="customer_name" property="customerName" />
            <result column="dc_created_at" property="dcCreatedAt" />
            <result column="dc_updated_at" property="dcUpdatedAt" />
            <result column="dc_latest_editor" property="dcLatestEditor" />
            <result column="dc_delete_flg" property="dcDeleteFlg" />
        </association>
    </resultMap>
    <!-- 全件取得 -->
    <select id="selectAll" resultMap="constructionContractResult">
        <!-- 論理削除採用のため「WHERE delete_flg = 0」を追記 -->
        SELECT cc_id, construction_period, project_name,
            design_contract.dc_id, design_contract.contract_number
        FROM construction_contract
        JOIN design_contract ON construction_contract.cc_dc_id = design_contract.dc_id
        WHERE cc_delete_flg = 0
        ORDER BY contract_number, construction_period;
    </select>
    <!-- 特定取得 -->
    <select id="selectAllById" resultMap="constructionContractResult">
        <!-- 論理削除採用のため「WHERE delete_flg = 0」を追記 -->
        SELECT cc_id, cc_dc_id, construction_period, project_name,
            design_contract.dc_id, design_contract.contract_number
        FROM construction_contract
        JOIN design_contract ON construction_contract.cc_dc_id = design_contract.dc_id
        WHERE cc_delete_flg = 0 AND cc_dc_id = #{ccDcId}
        ORDER BY contract_number, construction_period;
    </select>
    <!-- 一件取得 -->
    <select id="selectById" resultMap="constructionContractResult">
        <!-- 論理削除採用のため「WHERE delete_flg = 0」を追記 -->
        SELECT *, CONCAT(round(contract_price / planned_price * 100, 1), '%') AS turnover_rate
        FROM construction_contract
        JOIN employee ON construction_contract.cc_latest_editor = employee.code
        JOIN estimate_type ON construction_contract.cc_et_id = estimate_type.et_id
        JOIN design_contract ON construction_contract.cc_dc_id = design_contract.dc_id
        WHERE cc_delete_flg = 0 AND cc_id = #{ccId};
    </select>
    <!-- 登録実行 -->
    <insert id="insert" parameterType="com.example.demo.entity.ConstructionContract">
        <!-- 論理削除採用のため「delete_flg」と値「0」を追記 -->
        INSERT INTO construction_contract (cc_dc_id, cc_et_id,
            estimate_year, estimate_month, construction_period, project_name,
            site_address, site_area, separete_construction,
            planned_price, contract_price, contractor_name,
            remarks_section, blueprint_address,
            cc_created_at, cc_updated_at, cc_latest_editor, cc_delete_flg)
        VALUES (#{ccDcId}, #{ccEtId},
            #{estimateYear}, #{estimateMonth}, #{constructionPeriod}, #{projectName},
            #{siteAddress}, #{siteArea}, #{separeteConstruction},
            #{plannedPrice}, #{contractPrice}, #{contractorName},
            #{remarksSection}, #{blueprintAddress},
            CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{ccLatestEditor}, 0);
    </insert>
    <!-- 更新実行 -->
    <update id="update" parameterType="com.example.demo.entity.ConstructionContract">
        <!-- 論理削除採用のため「delete_flg」と値「0」を追記 -->
        UPDATE construction_contract
        SET cc_dc_id = #{ccDcId}, cc_et_id = #{ccEtId},
            estimate_year = #{estimateYear}, estimate_month = #{estimateMonth},
            construction_period = #{constructionPeriod}, project_name = #{projectName},
            site_address = #{siteAddress}, site_area = #{siteArea},
            separete_construction = #{separeteConstruction}, planned_price = #{plannedPrice},
            contract_price = #{contractPrice}, contractor_name = #{contractorName},
            remarks_section = #{remarksSection}, blueprint_address = #{blueprintAddress},
            cc_updated_at = CURRENT_TIMESTAMP, cc_latest_editor = #{ccLatestEditor}
        WHERE cc_id = #{ccId};
    </update>
    <!-- 削除実行 -->
    <delete id="delete" parameterType="Integer">
        <!-- 物理削除　↓　※物理削除ではリレーションがある場合に削除エラーが発生するため論理削除へ変更
        DELETE FROM construction_contract
        WHERE cc_id = #{ccId}; -->
        <!-- 論理削除　↓ ※select、insertの各SQLに「delete_flg」を追記 -->
        UPDATE construction_contract
        SET cc_delete_flg = 1
        WHERE cc_id = #{ccId};
    </delete>
</mapper>